DATABASE_URL=postgresql://postgres:Mplads%402026!@db.fcpwrmzviqrhsdgelwmk.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:Mplads%402026!@db.fcpwrmzviqrhsdgelwmk.supabase.co:5432/postgres
JWT_SECRET_KEY=mplads_secret_key_2026_super_secure
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=*
VITE_API_BASE_URL=https://mplads-ai-command-center-ai-powered.onrender.com/api/v1
